<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/style.css' | url }}" />
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body class="text-sanjoseText" style="background-color: rgb(252, 250, 233)">
  {% include 'Hero.html' %}
  <div class="w-full ">
    <div class="mx-auto container">
      {% include 'Sections.html' %}
      <hr/>
      {% include 'Photos.html' %}
    </div>
  </div>
  {% include 'Footer.html' %}
</body>

</html>