<html>
<head>
    <link rel="stylesheet" href="{{ '/style.css' | url }}"/>
    
</head>
<body class="text-sanjoseText">
{% include 'Hero.html' %}

for seccion is secciones:
{% for section in collections.sections %}
    <h1>{{section.data.title}}</h1>
    <main>{{section.templateContent | safe}}</main>
    <div>{{section.url}}</div>
    ke
{% endfor %}

{% for photo in collections.photos %}
    <h1>{{photo.data.title}}</h1>
    <main>{{photo.templateContent | safe}}</main>
    <div>{{photo.url}}</div>
    ke
{% endfor %}

</body>
</html>
