<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/style.css' | url }}" />
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
</head>

<body class="text-sanjoseText">
  {% include 'Hero.html' %}
  <div class="w-full ">
    <div class="mx-auto container">
      {% include 'Sections.html' %}
    </div>
  </div>

  {% for photo in collections.photos %}
  <h1>{{photo.data.title}}</h1>
  <main>{{photo.templateContent | safe}}</main>
  <div>{{photo.url}}</div>
  ke
  {% endfor %}

</body>

</html>