<style>
  .with-image-background{
    background-image: url("{{ '/img/frente_banner.png' | url }}");
    background-size: cover;
    background-position: center;
  }
  .break-no{
    word-break: keep-all;
  }
</style>
<section class="w-full with-image-background md:py-36 md:px-6 py-12">
  <div class="mx-auto text-center">
    <h1 class="text-7xl">
      <span>Parroquia </span> <span class="font-serif font-bold whitespace-nowrap">San José</span>
    </h1>
    <h2 class="m-2 text-xl">
      <address>Cnel. Brandsen 4970 - Villa Domínico - Diócesis Avellaneda-Lanús</address>
    </h2>
  </div>
</section>